@import 'tailwindcss';

/* container */
.favouriteIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-left: 1px #eee solid;
  border-right: 1px #eee solid;
  margin-left: -1px;
  padding: 20px 25px;
}
.favouriteIcon svg:hover path {
  fill: #b8cd06;
}
.favouriteIcon svg {
  cursor: pointer;
}
.favouriteIcon svg path {
  transition: all 0.3s;
}
.swiper-slide-thumb-active {
  @apply border-[#b8cd06] bg-[#b8cd06];
}
