/* * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
a,
button:active,
button:focus,
input:active,
input:focus {
  outline: 0 !important;
}
a:hover {
  text-decoration: none;
}


/* fadeIn */
/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

@import 'tailwindcss';

/* container */
.container {
  max-width: 1355px;
  margin: 0 auto;
}
.container1 {
  max-width: 1170px;
  margin: 0 auto;
}
.favouriteIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-left: 1px #eee solid;
  border-right: 1px #eee solid;
  margin-left: -1px;
  padding: 20px 25px;
}
.favouriteIcon svg:hover path {
  fill: #b8cd06;
}
.favouriteIcon svg {
  cursor: pointer;
}
.favouriteIcon svg path {
  transition: all 0.3s;
}
